.contact-container {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .contact-details {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
  }
  
  .contact-details h2 {
    margin-top: 10px;
    font-size: 2.0em;
    margin-bottom: 10px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-item p {
    margin: 0;
    margin-left: 10px;
  }
  
  .contact-icon {
    width: 20px;
    height: 20px;
  }
  